/* .nav__li a{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    color: rgb(30, 30, 30) !important;
}
.nav__li a:hover{
    transition: 1s !important;
    color: red !important;
} */

carousel-inner > .carousel-item > img { min-width:100%; min-height:100vh; }