:root {
    --red: #dc3545;
  }
  
  /*! ---------------------- 1- NAVBAR ----------------------------- */
  .navbar-light {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(59, 59, 59);
    transition: color 1s;
  }
  
  .navbar-light .nav-link:hover {
    color: var(--red);
  }
  /*! ---------------------- 2- CAROUSEL ----------------------------- */
  .carousel-item {
    max-height: calc(100vh - 88px);
  }
  .carousel-item h1 {
    color: var(--red);
    text-shadow: 2px 2px 2px black;
  }
  .carousel-item p {
      color: white;
      font-weight: 500;
  }
  
.carousel-item .buttons .btn{
      width: 7rem;
      margin-bottom: 1rem;
}

.carousel-indicators button {
    background-color: red !important;
    height: 0.3rem !important;
    width: 3rem !important;
    margin-right: 0.7rem !important;
}
.carousel-caption{
    bottom: 10vh;
}

  /*! ------------------- 3- ABOUT SECTION ------------------------ */

  
  /*! ------------------- 4- INSTRUCTORS ------------------------ */
  section#instructors .socials i {
    transition: opacity 1s;
  }
  
  section#instructors .socials i:hover {
    opacity: 0.5;
  }
  section#instructors .card {
    transition: transform 1s;
  }
  
  section#instructors .card:hover {
    transform: scale(1.05);
  }

  /*! ------------------- 4- STUDENTS SECTION ------------------------ */
  
  /*! ------------------- 5- COURSES SECTION ------------------------ */
  section#courses .nav-link{
    color: white;
    
  }
  section#courses .nav-link.active{
    background-color: red;

  }
  /*! ------------------- 6- CONTACT SECTION ------------------------ */
  section#contact i{
    color:red;
    font-size: 1.5rem;
  }
  /*! ------------------- UP-BUTTON --------------------- */
  .up-btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    font-size: 1.3rem;
    color: white;
    background-color: #dc3545;
  }
  .up-btn:hover{
    color: gold;
  }
  /*! -------------------- 7- FOOTER ------------------------ */
  footer i {
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
    transition: color 1s;
  }
  
  footer i:hover {
    color: red;
  }
  